// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
//font var
$open-sans: "Open Sans", sans-serif;
//colors
$blackDust: #111410;
$offWhite: #f2f2f2;
$sandGrey: #aaaaaa;
$blue: #1a237e;

// spacing and padding
$padding: 1vh 1vh;
$top-padding: 1vh 0vh 1vh 0vh;

//theme-defaults
body {
  background-color: $offWhite;
}
h1 h2 h3 h4 h5 h6 p strong em {
  font-family: $open-sans;
}
a {
  font-family: $open-sans;
  color: $blue;
}

//top

//navbar
#top {
  background-color: $blackDust;
  color: $offWhite;
}
//content
.entry-meta {
  padding: $top-padding;
}

.entry-content {
  padding: $top-padding;
}

.entry-footer {
  padding: $top-padding;
}
.understrap-read-more-link {
  background-color: $blackDust;
}
.understrap-read-more-link a:hover {
  background-color: $blackDust;
}

//posts entry
img.wp-post-image {
  width: 100%;
}
//widgets
.widget_search {
  padding: $top-padding;
}
.widget-area ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1vh;
  text-indent: -1em;
}
